// Gray background for all fenced code blocks (any language or none)
div.highlighter-rouge,
figure.highlight {
  background-color: #f3e9fd;

  div.highlight {
    border: 1px solid #e0d5ed;
    background-color: #f3e9fd;
  }

  pre.highlight {
    background-color: #f3e9fd;
 }

  code {
    background-color: #f3e9fd;
  }
}
